@font-face {
  font-family: 'iconfont'; /* Project id 3025223 */
  src: url('iconfont.woff2?t=1655811228992') format('woff2'),
    url('iconfont.woff?t=1655811228992') format('woff'),
    url('iconfont.ttf?t=1655811228992') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche2:before {
  content: '\e605';
}

.icon-daojishi:before {
  content: '\e60c';
}

.icon-zan:before {
  content: '\e677';
}

.icon-pinglun1:before {
  content: '\e60b';
}

.icon-zanwudingdan:before {
  content: '\e614';
}

.icon-zans:before {
  content: '\e719';
}

.icon-pinglun:before {
  content: '\e891';
}

.icon-yuan-shixin-zuojiantou:before {
  content: '\e6e6';
}

.icon-shuxian:before {
  content: '\e609';
}

.icon--wujiaoxing:before {
  content: '\e846';
}

.icon-wujiaoxingyuanjiao:before {
  content: '\e659';
}

.icon-zuojiantou1:before {
  content: '\e625';
}

.icon-yuanhu:before {
  content: '\e64b';
}

.icon-jiangjiatongzhi1:before {
  content: '\e620';
}

.icon-xiangshangjiantou:before {
  content: '\e661';
}

.icon-xiangxiajiantou:before {
  content: '\e673';
}

.icon-duigou2:before {
  content: '\e65d';
}

.icon-zuojiantou:before {
  content: '\e603';
}

.icon-guanbi:before {
  content: '\eca0';
}

.icon-shanchu:before {
  content: '\e8b6';
}

.icon-zuoce-xiangxiaxiaojiantousvg:before {
  content: '\e85a';
}

.icon-zuoce-xiangshangxiaojiantou:before {
  content: '\e858';
}

.icon-shaixuan:before {
  content: '\e888';
}

.icon-xiangxiajiantou2:before {
  content: '\e658';
}

.icon-xiangxiajiantou1:before {
  content: '\e689';
}

.icon-icon-test1:before {
  content: '\e60a';
}

.icon-iosgengduo_o:before {
  content: '\eb87';
}

.icon-close:before {
  content: '\e69e';
}

.icon-gengduosangedian:before {
  content: '\e61b';
}

.icon-xiangyoujiantou:before {
  content: '\e662';
}

.icon-shouye:before {
  content: '\e624';
}

.icon-iconfontscan:before {
  content: '\e602';
}

.icon-xiaoxi:before {
  content: '\e8be';
}

.icon-konggouwuche:before {
  content: '\e61c';
}

.icon-icon04:before {
  content: '\e601';
}

.icon-duigou1:before {
  content: '\ebe6';
}

.icon-gou:before {
  content: '\e867';
}

.icon-duigou:before {
  content: '\e627';
}

.icon-duigouxiao:before {
  content: '\e8bd';
}

.icon-gouwuche:before {
  content: '\e63f';
}

.icon-gouwuche1:before {
  content: '\e899';
}

.icon-yuanjia:before {
  content: '\e6fb';
}

.icon-yuanjianhao:before {
  content: '\ec87';
}

.icon-xiangzuojiantou:before {
  content: '\e600';
}

.icon-fangdajing:before {
  content: '\e6e4';
}

.icon-position:before {
  content: '\e6fa';
}

.icon-bell:before {
  content: '\e887';
}

.icon-home:before {
  content: '\e604';
}

.icon-my_light:before {
  content: '\e7d5';
}

.icon-order:before {
  content: '\e713';
}

.icon-shop-cart-:before {
  content: '\e63b';
}
